@font-face{
	font-family: bebas;
	src: url("fontes/BebasKai.otf");
    src: local("bebas"), url("font/bebaskai-webfont.ttf") format("truetype");
}

@font-face{
	font-family: amble;
	src: url("fontes/Amble.otf");
    src: local("amble"), url("font/amble-webfont.ttf") format("truetype");
}

body {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #e9eaed;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

/* Cabeçalho */

.navbar, .navbar-inverse, .navbar-fixed-top{
    background-color: black;
}

/* Login */

h2{
    text-align: center;
    font-size: 58pt;
    font-family: bebas;
    color: #2a8751;
    letter-spacing: 0;
    margin-bottom: 0px;
}

.form-control{
    display: inline;
    border: solid 1px black;
    height: 27px;
    padding-top: 24px;
    padding-bottom: 20px;
    padding-left: 18px;
    font-size: 18.7pt;
    font-family: amble;
}

.col-md-12{
    text-align: center;
}

::-webkit-input-placeholder{
	font-family: bebas;
	font-size: 20pt;
    padding-left: 12px;
}

:-moz-placeholder{
	font-family: bebas;
	font-size: 20pt;
    padding-left: 12px;
}

::-moz-placeholder{
	font-family: bebas;
	font-size: 20pt;
    padding-left: 12px;
}

:-ms-input-placeholder{  
	font-family: bebas;
	font-size: 20pt;
    padding-left: 12px;
}

.btn, .btn-default{
    font-size: 22pt;
    font-family: bebas;
    background-color: #2a8751;
    color: white;
    width: 125px;
}

.below-login-1{
    font-size: 18pt;
    font-family: bebas;
    color: #2a8751;
}

.below-login-2{
    font-size: 18pt;
    font-family: bebas;
    color: black;
}