@model RegisterViewModel
@{
    ViewData["Title"] = "Cadastro";
}

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h2>@ViewData["Title"]</h2>
    <hr />
    <div class="col-md-12">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <div class="col-md-12">
                <input asp-for="Nome" class="form-control" placeholder="Nome completo" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input asp-for="Matricula" class="form-control" placeholder="Matrícula" />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input asp-for="Password" class="form-control" placeholder="Senha" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirmar senha" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <button type="submit" class="btn btn-default" style="width: 170px;">Cadastrar-se</button>
            </div>
        </div>
     </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
